.button {
    background-color: var(--css-black);
    color: var(--css-primary);
    font-size: 18px;
    font-weight: 600;
    width: 170px;
    height: 47px;
    padding: 10px 16px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
}

.button:hover {
    color: var(--css-white);
}
