.hero-section {
    height: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-text {
    color: var(--css-white);
    font-size: 32px;
    font-weight: 600;
    margin-right: 20px;
}
