@import url('https://fonts.googleapis.com/css2?family=Poppins');

:root {
    --css-primary: #34c94b;
    --css-black: #121212;
    --css-white: #fff;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: 'Poppins', sans-serif;
    background-color: var(--css-black);
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}

::-webkit-scrollbar {
    width: 5px;
    background: var(--css-black);
}

::-webkit-scrollbar-thumb {
    width: 100%;
    background: var(--css-primary);
}
